.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.src-column,
.playground-column {
  padding: 20px;
  width: 50%;
}

.src-column {
  border-right: 1px solid #ccc;
}

.playground-column {
  width: 100%;
}

.droppable-area {
  min-height: 50px;
}

.draggable-course {
  border-radius: 8px;
}
